
.first-box-container { 
    margin: 10px;
    float:left;
    width: 200px;
    height: 100px;
    background-color: red;
    border-style: solid;
    border-width: 10px;
    border-color: green;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: blue;
    line-height: 20px;
    padding-top: 50px;
   
}
.second-box-container { 
    margin: 10px;
    float:left;
    width: 200px;
    height: 100px;
    background-color: yellow;
    border-style: solid;
    border-width: 10px;
    border-color: red;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: blue;
    padding-top: 50px;
}
.third-box-container { 
    margin: 10px;
    float:left;
    width: 200px;
    height: 100px;
    background-color: green;
    border-style: solid;
    border-width: 10px;
    border-color: yellow;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: blue;
    padding-top: 50px;
}
